<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kr.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.kr.domain.User" >
    <id column="userid" property="userid" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="userpassword" property="userpassword" jdbcType="VARCHAR" />
    <result column="usernickname" property="usernickname" jdbcType="VARCHAR" />
    <result column="useremail" property="useremail" jdbcType="VARCHAR" />
    <result column="taken" property="taken" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    userid, username, userpassword, usernickname, useremail, taken
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where userid = #{userid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where userid = #{userid,jdbcType=INTEGER}
  </delete>
  <select id="findUserByNameAndPassword" parameterType="map" resultType="com.kr.domain.User">
	select * from user t where username=#{username} and userpassword=#{userpassword}
  </select>
  <insert id="insert" parameterType="com.kr.domain.User" >
    insert into user (userid, username, userpassword, 
      usernickname, useremail, taken
      )
    values (#{userid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{userpassword,jdbcType=VARCHAR}, 
      #{usernickname,jdbcType=VARCHAR}, #{useremail,jdbcType=VARCHAR}, #{taken,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kr.domain.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        userid,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="userpassword != null" >
        userpassword,
      </if>
      <if test="usernickname != null" >
        usernickname,
      </if>
      <if test="useremail != null" >
        useremail,
      </if>
      <if test="taken != null" >
        taken,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="userpassword != null" >
        #{userpassword,jdbcType=VARCHAR},
      </if>
      <if test="usernickname != null" >
        #{usernickname,jdbcType=VARCHAR},
      </if>
      <if test="useremail != null" >
        #{useremail,jdbcType=VARCHAR},
      </if>
      <if test="taken != null" >
        #{taken,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kr.domain.User" >
    update user
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="userpassword != null" >
        userpassword = #{userpassword,jdbcType=VARCHAR},
      </if>
      <if test="usernickname != null" >
        usernickname = #{usernickname,jdbcType=VARCHAR},
      </if>
      <if test="useremail != null" >
        useremail = #{useremail,jdbcType=VARCHAR},
      </if>
      <if test="taken != null" >
        taken = #{taken,jdbcType=VARCHAR},
      </if>
    </set>
    where userid = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kr.domain.User" >
    update user
    set username = #{username,jdbcType=VARCHAR},
      userpassword = #{userpassword,jdbcType=VARCHAR},
      usernickname = #{usernickname,jdbcType=VARCHAR},
      useremail = #{useremail,jdbcType=VARCHAR},
      taken = #{taken,jdbcType=VARCHAR}
    where userid = #{userid,jdbcType=INTEGER}
  </update>
</mapper>